<% provide(:title, 'Create New Quest') %>

<h1>Create New Quest</h1>

<%= simple_form_for @quest do |f| %>
  <%= render 'shared/error_messages_fq' %>
  <%= f.input :quest_type, label: "Quest Type", :collection =>  %w[Assignment Event] %>
  <%= f.input :title, label: "Quest Title" %>
  <%= f.input :description %>
  <%= f.input :deadline, :as => :effective_date_time_picker %>
  Select the students for this quest: <br>
  <%= collection_check_boxes(:quest_assignment, :user_id, User.all.order(:class_no, :first_name, :last_name), :id, :full_name, {:include_blank => true}, {:multiple => true, :size => 10})  do |b|%>
    <%= b.check_box  +  b.label {b.text} %>
    <br>
  <% end %>

  <%= f.button :submit %>
<% end %>