<% provide(:title, 'Town') %>

<div id="town-container" >


</div>


<div id = "town-shortcuts" >
  <%= link_to item_shops_path do %>
  <div id = "shop-item" >

  </div>
  <% end %>

  <%= link_to wishing_wells_path do %>
  <div id = "wishing-well" >
  </div>
  <% end %>
  
  <%= link_to eq_shops_path do %>
  <div id = "shop-equipment" >
  </div>
  <% end %>

  <%= link_to '#' do %>
  <div id = "castle" >
  </div>
  <% end %>
</div>

  <!--
<header class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">

  <nav>
  <ul class="nav navbar-nav navbar-right">
    <%= link_to item_shops_path do %>
      <div id = "shop-item" >
      </div>
    <% end %>

    <%= link_to wishing_wells_path do %>
      <div id = "wishing-well" >
      </div>
    <% end %>
    
    <%= link_to '#' do %>
      <div id = "shop-equipment" >
      </div>
    <% end %>

    <%= link_to '#' do %>
      <div id = "castle" >
      </div>
    <% end %>


    </ul>
  </nav>


  </div>
</header>

-->