<% provide(:title, 'Town') %>

<div id="town-container" >

	<%= link_to magic_shops_path do %>
	<div id = "shop-magic" >
  </div>
  <% end %>

  <%= link_to '#' do %>
  <div id = "shop-item" >
  	<span>
  		testing
  		</span>
  </div>
  <% end %>

  <%= link_to wishing_well_index_path do %>
  <div id = "wishing-well" >
  </div>
  <% end %>
  
  <%= link_to '#' do %>
  <div id = "shop-equipment" >
  </div>
  <% end %>

  <%= link_to '#' do %>
  <div id = "castle" >
  </div>
  <% end %>




</div>