<div id="profiletable">
<table border="2">
  <tr>
    <td rowspan="6">
      <%= gravatar_for @user %>
    </td> 
    <th>Name:</th>
    <td colspan ="3">
      <%= full_name(@user) %>
    </td>
  </tr>

  <tr>
    <th>Level:</th>
    <td>  
      <%= @user.lvl.to_s %>
    </td>
    <th>Job:</th>
    <td>
      <%= Job.find(@user.job_id).name.titleize %>
    </td>
  </tr>

  <tr>
    <th colspan="4">HP:<br>
    <%= render 'hpbar' %>
    </th>
  </tr>

  <tr>
    <th colspan="4">MP:<br>
    <%= render 'mpbar' %>
    </th>
  </tr>

  <tr>
    <th colspan="4">Exp:<br>
    <%= render 'expbar' %>
    </th>
  </tr>

  <tr>
    <th>Gold:</th>
    <td>  
      <%= @user.gold_pts.to_s %>
    </td>
    <th>Resource:</th>
    <td>
      <%= @user.resource_pts.to_s %>
    </td>
  </tr>
  
  <tr>
    <th colspan="2">STATS</th>
    <th colspan="3">EQUIPMENT?</th>
  </tr>

  <tr>
    <th>Strength:</th>
    <td>
       <div class="alignleft"><%= total_stat(@user, "str").to_s %></div>
       <% if current_user?(@user) %>
         <div class="alignright">
           <%= link_to '+', add_stat_path(:id => @user.id, :stat => "str"), method: :patch, 
           class: "btn btn-warning btn-xs", disabled: (@user.sp <= 0) %></div>
       <% end %>
    </td>

    <th>Weapon:</th>
    <td colspan="2">
      <% if @weapon == nil %>
      <% else %>
        <%= @weapon.name %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th>Agility:</th>
    <td>
       <div class="alignleft"><%= total_stat(@user, "agi").to_s %></div>
       <% if current_user?(@user) %>
         <div class="alignright">
           <%= link_to '+', add_stat_path(:id => @user.id, :stat => "agi"), method: :patch, 
           class: "btn btn-warning btn-xs", disabled: (@user.sp <= 0) %></div>
       <% end %>
    </td>

    <th>Head:</th>
    <td colspan="2">
      <% if @head == nil %>
      <% else %>
        <%= @head.name %>
      <% end %>
    </td>  
  </tr>

  <tr>
    <th>Vitality:</th>
    <td>
       <div class="alignleft"><%= total_stat(@user, "vit").to_s %></div>
       <% if current_user?(@user) %>
         <div class="alignright">
           <%= link_to '+', add_stat_path(:id => @user.id, :stat => "vit"), method: :patch, 
           class: "btn btn-warning btn-xs", disabled: (@user.sp <= 0) %></div>
       <% end %>
    </td>

    <th>Armor:</th>
    <td colspan="2">
      <% if @body == nil %>
      <% else %>
        <%= @body.name %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th>Intelligence:</th>
    <td>
       <div class="alignleft"><%= total_stat(@user, "int").to_s %></div>
       <% if current_user?(@user) %>
         <div class="alignright">
           <%= link_to '+', add_stat_path(:id => @user.id, :stat => "int"), method: :patch, 
           class: "btn btn-warning btn-xs", disabled: (@user.sp <= 0) %></div>
       <% end %>
    </td>

    <th>Boots:</th>
    <td colspan="2">
      <% if @boots == nil %>
      <% else %>
        <%= @boots.name %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th>Luck:</th>
    <td><%= @user.luck.to_s %></td>
  </tr>

  <tr>
    <th>Stat Points:</th>
    <td><%= @user.sp.to_s %>
    <% if current_user?(@user) %>
         <div class="alignright">
           <%= link_to 'Level up', add_exp_path(:id => @user.id, :exp_add => "50"), method: :patch, 
           class: "btn btn-warning btn-xs" %></div>
    <% end %>
    </td>
  </tr>
        
</table>
</div>