<% provide(:title, full_name(@user))%>



<div class="progress">
  <span>
     <font color ="black"><strong> <%= "Level: " + @user.lvl.to_s %> </strong>  - 
     <%= exp_remain(@user).round(2).to_s + "%" + " ( " + exp_to_lvl(@user).round(2).to_s %> <em> more exp to level</em> ) </font>
  </span>
  <div class="progress-bar" role="progressbar" aria-valuenow=  <%= exp_remain(@user).round(2).to_s %>
  aria-valuemin="0" aria-valuemax="100" style= <%= "width:" + exp_remain(@user).to_s + "%"%>>
  </div>

</div>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= full_name(@user) %> <br>
        <%= "Level: " + @user.lvl.to_s %> <br>
        <%= "Exp: " + @user.exp.to_s %>

      </h1>
    </section>
  </aside>
</div>

<style>
table, th, td {
    border: 2px solid black;
    height: 20px;
    width: 500px;
    text-align: center;
    background-color: rgba(212, 190, 144, 0.8);
    border-color: #4A4230;
    color: black;
}
th, td {
  padding: 10px;
}
</style>


<table>
  <tbody>
    <tr>
      <th colspan="4">Character Profile</th>
    </tr>

    <tr>
      <th>Name:</th>
      <td colspan="3"><%= full_name(@user) %></td>
    </tr>

    <tr>
      <th>Job:</th>
      <td>Student</td>
      <th>Level:</th>
      <td><%= @user.lvl.to_s %></td>
    </tr>

    <tr>
      <th>HP:</th>
      <td><%= @user.hp.to_s %></td>
      <th>MP:</th>
      <td><%= @user.mp.to_s %></td>
    </tr>

    <tr>
      <th>Strength:</th>
      <td><%= @user.str.to_s %></td>
      <th>Agility:</th>
      <td><%= @user.agi.to_s %></td>
    </tr>

    <tr>
      <th>Vitality:</th>
      <td><%= @user.vit.to_s %></td>
      <th>Intelligence:</th>
      <td><%= @user.int.to_s %></td>
    </tr>

    <tr>
      <th>Luck:</th>
      <td><%= @user.luck.to_s %></td>
      <th>Stat Points:</th>
      <td><%= @user.sp.to_s %></td>
    </tr>
  </tbody>
</table>

<br>
<table>
  <tr>
    <th colspan = "4">Achievements</th>
  </tr>

  <tr>
    <th colspan="4"><br></th>
  </tr>
</table>