<h1><%= full_name(current_user) %>'s Inventory</h1>

<table>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Quantity</th>
    </tr>
    
    <% @items.each_with_index do |item, index| %>
    	<% itemassign = ItemAssignment.find_by(item_id: item.id, user_id: current_user.id) %>
    	<tr>
    		<td><%= index +=1 %></td>
    		<td><span title="<%= item.description %>" ><%= item.name %></span></td>
    		<td><%= itemassign.quantity %></td>
		</tr>
	<% end %>
</table>