<% provide(:title, 'Inventory') %>

<h1><%= full_name(current_user) %>'s Inventory</h1>
<br>
<h3>Items:</h3>
<table>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Quantity</th>
        <th></th>
    </tr>
    
    <% @items.each_with_index do |item, index| %>
    	<% itemassign = ItemAssignment.find_by(item_id: item.id, user_id: current_user.id) %>
    	<tr>
    		<td><%= index +=1 %></td>
    		<td><span title="<%= item.description %>" ><%= item.name %></span></td>
    		<td><%= itemassign.quantity %></td>
            <td>
                <% if item.rec_hp > 0 || item.rec_mp > 0 %>
                    <%= link_to 'Use Item', use_heal_item_path(id: current_user.id, item_id: item.id), method: :patch, 
                        data: item.rec_hp > 0 && current_user.curr_hp == current_user.total_stat('hp') ? 
                                { confirm: 'Your HP is full! Are you sure you want to use ' + item.name + '?'} : 
                              item.rec_mp > 0 && current_user.curr_mp == current_user.total_stat('mp') ? 
                                { confirm: 'Your MP is full! Are you sure you want to use ' + item.name + '?'} : '', 
                        class: "btn btn-warning btn-xs" %>
                <% else %>
                <% end %>
            </td>
		</tr>
	<% end %>
</table>

<h3>Equipment(Weapon):</h3>
<% if @weapons.empty? %>
    <h4>You have no weapons!</h4>
<% else %>
    <%= render 'weapon' %>
<% end %>

<h3>Equipment(Head):</h3>
<% if @heads.empty? %>
    <h4>You have no head equipment!</h4>
<% else %>
    <%= render 'head' %>
<% end %>

<h3>Equipment(Armor):</h3>
<% if @armors.empty? %>
    <h4>You have no armor!</h4>
<% else %>
    <%= render 'armor' %>
<% end %>

<h3>Equipment(Boots):</h3>
<% if @boots.empty? %>
    <h4>You have no boots!</h4>
<% else %>
    <%= render 'boots' %>
<% end %>
